*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(200,142, 254);
}
.item-container{
    background: #fff;
    text-align: center;
    width: 20rem;
    height: 35rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-left-logo{
    width: 60px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left-logo img{
    width: 100%;
}
.top-right-cart{
    font-style: 1.4rem;
    margin-right: 1rem;
}

.main-item{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.item-headling{
    text-transform: capitalize;
}

.item-description{
    margin: .5rem 0;
    font-style: 0.9rem;
    font-weight: 200;
}

.item-price{
    text-align: center;
    font-style: 2rem;
    margin-bottom: 1rem;
}

.item-price sub{
    color: green;
}

.rating{
    color: rgb(200,142,254);
}

.item-card-btn{
    border: none;
    background: transparent;
    margin: 0 auto;
    width: 100%;
    border: 1;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: rgb(200,142,254);
    color: #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    transition: all .6s linear;
}
.item-card-btn:hover{
    color: #fff;
    background: rgb(160, 110,206);
    
}
